$sans: "Open Sans", sans-serif;
$noto: "Noto Sans", sans-serif;

$regular: 400;
$light: 300;
$semibold: 600;
$bold: 700;
$extra-bold: 800;

$header-grey: #232228;
$header-light-grey: #444348;
$link-blue: #aae3f0;
$header-dark-grey: #232228;
$header-lighten-grey: #2a292f;
$lighten-blue: #2290ab;
$light-opacity-grey: #a0a0a0;
$main-category-grey: #2c2a31;
$slider-blue: #5bbbd2;
$red: #ed2f2f;
$orange: #ff9933;
$green: #66cc66;
$yellow: #d08d1a;