.container-fluid.top-header
	.container
		.row.flex-items-xl-middle.flex-items-lg-middle.flex-items-md-middle
			.col-xl-3.col-lg-3.col-md-14.mobile-center
				.mobile-burger
				a(href="#city").top-header__city Хабаровск
			.col-xl-4.col-lg-5.col-md-6.header-user.header-user--authorized
					.header-user__avatar
					.header-user__name Trump
					.header-user__carret
					a(href="#authentification").header-user__link Мой кабинет
					.header-user__tooltip
						//- a(href="#").header-user__link Мои заказы
						//- .header-user__carret
						//- a(href="#").header-user__link Уведомления
						a(href="#").header-user__logout.js-ripple
							span Мои заказы
						a(href="#").header-user__logout.js-ripple
							span Уведомления
						a(href="#").header-user__logout.header-user__link.js-ripple
							.icon
							span Выйти
			.col-xl-13.col-lg-12.top-menu
				ul.top-menu__menu
					li.top-menu__exist 
						a(href="#") О компании
						ul
							li
								a(href="#") Новости
							li
								a(href="#") История компании
					li.top-menu__exist 
						a(href="#") Полезная информация
						ul
							li
								a(href="#") Новости
							li
								a(href="#") История компании
					li
						a(href="#") Как купить?
					li
						a(href="#") Форум
					li
						a(href="#") Гарантия и сервис
					li
						a(href="#") Контакты
.container-fluid.header-main
	.container
		.row.flex-items-xl-middle
			.col-xl-5.col-lg-5.col-md-6
				.header-main__logo
					a(href="#"): img(src="img/logo.png", alt="")
			.col-xl-7.col-lg-6.col-md-6.hidden-md-down
				.header-main__description
					|Лодки ПВХ, лодочные моторы, SUP доски для серфинга
					span Доставка по всей России
			.col-xl-5.col-lg-5.header-main__phone-wrapper.col-md-9.col-sm-10
				.header-main__phone-block
					a(href="#").header-main__phone 8 800 000 0000
					.header-main__phone-description Звонок по России бесплатный
			.col-xl-3.col-lg-4.col-md-5.col-sm-10
					a(href="#feedback").header-main__order-call.js-ripple
						.icon
						span Обратная связь
.container-fluid.header-middle
	.container
		.row.flex-items-xl-middle
			.col-xl-5.col-lg-5.header-middle__catalog.catalog-menu.col-md-7
				.catalog-menu__main-wrapper
					.catalog-menu__header
						.icon
						span Каталог Gladiator
					.catalog__main-menu.main-menu
						.main-menu__item
							.main-menu__link
								.main-menu__flex
									.main-menu__image-block
										.main-categories__icon.main-categories__icon--boats
									a(href="/1").main-menu__text-block Лодки
							.main-menu__wrap-block.pod-menu
								object

									.pod-menu__item
										a(href="/1/1").pod-menu__link
											.pod-menu__item-wrapper
											.pod-menu__text Гребные лодки
										.grid-menu
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация
													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP

								.pod-menu__item
										a(href="/1/1").pod-menu__link
											.pod-menu__item-wrapper
											.pod-menu__text Моторно-гребные лодки
										.grid-menu
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация
													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AL
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Максимальная комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name DP
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP CAMO
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name AL
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name AL CAMO
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
								.pod-menu__item
										a(href="/1/1").pod-menu__link
											.pod-menu__item-wrapper
											.pod-menu__text Моторные лодки с жестким полом
										.grid-menu
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация
													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
								.pod-menu__item
										a(href="/1/1").pod-menu__link
											.pod-menu__item-wrapper
											.pod-menu__text Моторные лодки с НДНД (надувное дно низкого давления)
										.grid-menu
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация
													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name Алюминиевый пайол
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name Паркетный усиленный пайол
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
								.pod-menu__item
										a(href="/1/1").pod-menu__link
											.pod-menu__item-wrapper
											.pod-menu__text Риб (моторные лодки с монолитным жестким дном)
										.grid-menu
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация
													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
											.grid-menu__block
												object
													a(href="/1/1/1").grid-menu__header Базовая комплектация

													a(href="/1/1/1/1").grid-menu__item
														.grid-menu__image
															img(src="img/category1.png", alt="")
														.grid-menu__name AD
													a(href="/1/1/1/2").grid-menu__item
														.grid-menu__image
															img(src="img/category2.png", alt="")
														.grid-menu__name DP
						a(href="#").main-menu__item
							.main-menu__flex
								.main-menu__image-block
									.main-categories__icon.main-categories__icon--engines
								.main-menu__text-block Лодочные моторы
						a(href="#").main-menu__item
							.main-menu__flex
								.main-menu__image-block
									.main-categories__icon.main-categories__icon--accessories
								.main-menu__text-block Аксессуары и запчасти
						a(href="#").main-menu__item
							.main-menu__flex
								.main-menu__image-block
									.main-categories__icon.main-categories__icon--sup-board
								.main-menu__text-block SUP BOARD
			.col-xl-9.col-lg-8.header-middle__search.col-md-13
				.header-main__phone-block
					a(href="#").header-main__phone 8 800 000 0000
					.header-main__phone-description Звонок по России бесплатный
				a(href="#").header-main__order-call.js-ripple
						.icon
						span Заказать звонок
				.header-middle__search-icon
				.header-middle__search-wrap
					form
						button.header-middle__button
						input(type="text" placeholder="Найти...")
			.col-xl-6.col-lg-7.header-middle__cart.col-md-20

				.header-middle__wrapper
					.mini-cart
						.mini-cart__main-block 
							.mini-cart__icon-block
								.mini-cart__icon
								.mini-cart__count 255
							.mini-cart__text-block
								.mini-cart__price
									span 35 600
									|  р.
								.mini-cart__text Корзина
						.mini-cart__modal
							.mini-cart__item
								.mini-cart__item-block
									.mini-cart__wrapper
										.mini-cart__image
											img(src="img/tovar1.png", alt="")
										a(href="#").mini-cart__description Моторно - гребная Лодка ПВХ GLADIATOR Серия (А) Simple Very Best Boat
									input(type="text").mini-cart__item-count
									.mini-cart__item-price 21 500 р.
								.mini-cart__remove
									a(href="#").icon
							.mini-cart__item
								.mini-cart__item-block
									.mini-cart__wrapper
										.mini-cart__image
											img(src="img/tovar1.png", alt="")
										a(href="#").mini-cart__description Моторно - гребная Лодка ПВХ GLADIATOR Серия (А) Simple Very Best Boat
									input(type="text").mini-cart__item-count
									.mini-cart__item-price.mini-cart__item-price--sale 21 500 р.
									.mini-cart__item-sale-price 21 500 р.
								.mini-cart__remove
									a(href="#").icon
							.mini-cart__total
								.mini-cart__total-price
									|Итого:  
									span 155 800 р.
								a(href="#").mini-cart__see-all
									span Смотреть все товары
					.mini-compare.js-ripple
						a(href="").mini-compare__main-block
							.mini-compare__icon
							.mini-compare__text-block
								.mini-compare__count 7
								.mini-cart__text.mini-cart__text--compare Сравнить
									
