body.filter-page {
	margin-top: 30px;
	font-family: 'Open-Sans', sans-serif;
}

nav {
	margin-bottom: 35px;
}
	ul {
		background: #1E1C23;
		display: inline-block;
		height: 48px;
	}
		ul li {
			height: 48px;
			float: left;
			border-right: 1px solid #3B3847;
		}
		ul li:last-child {
			border-right: none;
		}
			ul li a {
				color: #FFFFFF;
				font-size: 14px;
				font-family: 'Open-Sans', sans-serif;
				display: flex;
				height: 100%;
				text-decoration: none;
				padding: 0 30px;
				position: relative;
				overflow: hidden;
			}
			ul li span {
				margin: auto;
				z-index: 2;
			}
			
			ul li a:after, ul li a:after {
				content: '';
				position: absolute;
				width: 1px;
				height: 1px;
				bottom: -1px;
				left: 50%;
				border-radius: 999px;
				background: transparent;
				transition: all 0.35s ease-in;
			}
			ul li.active a:after, ul li a:hover:after {
				transform: scale(300);
				background: #2290AB;
			}
		
p {
	color: #898989;
	margin-bottom: 10px;
}



/*ползунок цена*/
#histogram {
	vertical-align: baseline;
	position: relative;
	top: 5px;
	margin-left: -9px;
	margin-right: -9px;
	font-size: 0;
	line-height: 0;
}
	#histogram > div {
		width: 5%;
		height: 0px;
		display: inline-block;
		background: #B7B7B7;
		/*margin-right: -4px;*/
		opacity: 0;
		transition: opacity 0.6s ease-out;
	}
		#histogram > div span {
			display: block;
			transform: rotate(-90deg);
		}

#slider_price {
	margin-bottom: 44px;
}
.slider-bg {
	margin-left: -9px;
	margin-right: -9px;
	padding-left: 9px;
	padding-right: 9px;
	background: #AAA;
}
.slider-2 .ui-slider {
	position: relative;
}

.slider-2 .ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 18px;
	height: 18px;
	border-radius: 9px;
	background: #0091AE;
	box-shadow: 0 1px 0 0 rgba(0,0,0,0.35);
	cursor: pointer;
	outline: none;
}
	.slider-2 .ui-slider .ui-slider-handle:after {
		content: attr(data-current-value);
		position: absolute;
		bottom: -20px;
		left: -50%;
		color: #000000;
	}
.slider-2 .ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	overflow: hidden;
	background: #1E1C23;
}

.slider-2 .ui-slider-horizontal {
	height: 5px; 
}

.slider-2 .ui-slider-horizontal .ui-slider-handle { 
	top: -8px;
	
}
	.slider-2 .ui-slider-horizontal .ui-slider-handle:nth-child(2) {
		margin-left: -18px;
	}
.slider-2 .ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.slider-2 .ui-slider-horizontal .ui-slider-range-min { 
	left: 0;
}
.slider-2 .ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.slider-2 .ui-widget-content { 
	background: #AAA;
}

.slider-2 .ui-widget-header { 
	border: 1px solid #D4D4D4;
	background: #f00;
}

.slider-2 .ui-corner-all {
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
}		
		
		
/* ползунок 1 */
.slider-1 .ui-slider {
	position: relative;
	z-index: 2;
	border-top: 1px solid #BEBEBE;
	border-bottom: 1px solid #BEBEBE;
}
	.slider-1 .ui-slider .ui-slider-handle {
		position: absolute;
		z-index: 4;
		width: 18px;
		height: 53px;
		border-radius: 9px;
		background: url('../images/slider-1-handler.png') no-repeat center top;
		cursor: pointer;
		top: -23px;
		margin-left: -9px;
		outline: none;
	}
	.slider-1 .ui-slider-horizontal {
		height: 30px;
		/*border: 1px solid grey;
		background: #BEBEBE;*/
		z-index: 1;
	}
	.slider-1 .ui-slider .ui-slider-range {
		background: #2290AB;
		position: absolute;
		z-index: 3;
		top: 0px;
		height: 100%;
	}
	
.slider-1 .slider-wrapper {
	position: relative;
	padding-top: 30px;
}
.slider-1 .scale {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 3;
}
	.slider-1 .scale > div {
		z-index: 3;
		color: #202020;
		font-size: 14px;
		position: absolute;
		height: 30px;
		line-height: 30px;
		top: -1px;
		border-right: 1px solid #BEBEBE;
		text-align: center;
	}
	.slider-1 .scale > div:first-child {
		border-left: 1px solid #BEBEBE;
	}
	.slider-1 .scale > div:last-child {
		/* это костыль :( */
		display: none;
	}
		.slider-1 .scale > div > span {
			position: relative;
			
		}



/* series */
.checboxes label {
	
}
.checboxes input {
	display: none;
}
.checboxes input + label {
	display: inline-block;
	line-height: 22px;
	padding: 0 34px;
	color: #161616;
	margin-bottom: 15px;
	background: url('../images/checkboxes.png') no-repeat left top;
}
.checboxes input:checked + label {
	background-position: left bottom;
}

/* price */
#price label {
	color: #9F9F9F;
}
#price input {
	width: 60px;
	height: 30px;
	border: 1px solid #BFBFBF;
	text-align: center;
	margin: 0 8px;
	color: #1A1A1A;
	outline: none;
}

/* controls */
.controls {
	text-align: right;
	padding-top: 100px;
}
.filter-button {
	display: inline-block;
	height: 35px;
	line-height: 32px;
	padding: 0 40px 0 20px;
	color: #FFFFFF;
	font-size: 14px;
	font-family: 'Open-Sans', sans-serif;
	background: url('../images/action-button-bg.png') no-repeat right top #2B2A30;
	border-radius: 18px;
	margin-right: 5px;
}
	.filter-button-show {
		background-position: 90px 5px;
	}
	.filter-button-show:hover {
		background-position: 90px -70px;
	}
	.filter-button-clear {
		background-position: -46px 5px;
	}
	.filter-button-clear:hover {
		background-position: -46px -70px;
	}