doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title title
		
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext" rel="stylesheet")
		link(rel="stylesheet", href="css/vendor.css")
		link(rel="stylesheet", href="css/styles.css")
	body
	.main-background
	.container-fluid.page-bg
		include partials/header
		.container.mobile-container
			.row
				.col-xl-20.my-breadcrumbs
					ul.my-breadcrumbs__menu
						li: a(href="#") Главная страница
						li: a(href="#") Каталог
						li Лодки
		.container.detail-card
			.row
				.col-xl-7.col-lg-7.col-md-7
					.detail-card__image(data-zoom-image="img/mini-card1-big.png")
					.detail-card__mini-images
						.detail-card__mini-image(data-big="img/mini-card1-big.png")
							img(src="img/mini-card1.png", alt="")
						.detail-card__mini-image(data-big="img/mini-card2-big.png")
							img(src="img/mini-card2.png", alt="")
						.detail-card__mini-image(data-big="img/mini-card3-big.png")
							img(src="img/mini-card3.png", alt="")
						.detail-card__mini-image(data-big="img/mini-card4-big.png")
							img(src="img/mini-card4.png", alt="")
						.detail-card__mini-image(data-big="img/mini-card5-big.png")
							img(src="img/mini-card5.png", alt="")
						.detail-card__mini-image(data-big="img/mini-card6-big.png")
							img(src="img/mini-card6.png", alt="")
				.col-xl-9.col-lg-9.col-md-13
					.detail-card__name Гребная Лодка ПВХ GLADIATOR Серия (А) Simple A240 NEW
					.detail-card__articul-wrapper
						.detail-card__articul Артикул:  9854789562
						.detail-card__rating
							.detail-card__label Рейтинг товара
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating1" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating1" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating1" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating1" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating1" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating1" value="0").star-cb-clear
											label(for="rating-0") 0
					.detail-card__description Лодки Gladiator серии LIGHT –  это базовая серия надувных килевых лодок с вклеенным транцем в стандартной комплектации для рыбалки, активного отдыха на водоемах любого типа без агрессивной внешней среды. Баллоны выполнены из ПВХ плотностью 850 г/м2 (толщина 0,7 мм). Днище выполнено из ПВХ плотностью 1100 г/м2 (толщина 0,9 мм). Киль и баллоны имеют дополнительную броню 5 мм полиуретановой лентой, что снижает вероятность протирания материала при причаливании к берегу. Благодаря жесткому пайолу на дне кокпита  находиться в них удобно даже стоя.
					.detail-card__bottom
						.row
							.col-xl-10.col-lg-10
								.detail-card__counter-block
									.detail-card__label Количество:
									.counter
										input(type="text")
										.counter__btn-wrapper
											.counter__top
											.counter__bottom
								.detail-card__colors.colors
									input(type="radio" id="green" name="colors").colors__one
									label(for="green")
									input(type="radio" id="red" name="colors").colors__two
									label(for="red")
									input(type="radio" id="blue" name="colors").colors__three
									label(for="blue")
									input(type="radio" id="grey" name="colors").colors__four
									label(for="grey")
									input(type="radio" id="orange" name="colors").colors__five
									label(for="orange")
							.col-xl-10.col-lg-10
								.detail-card__price-block
									.detail-card__label Цена:
									.detail-card__price.detail-card__price--sale 25 800 р
								.detail-card__price-block
									.detail-card__label Со скидкой:
									.detail-card__price 1 822 800 р
								.card__buttons
									a(href="javascript:void(0);").card__compare.js-ripple
									a(href="javascript:void(0);").card__buy.js-ripple
				.col-xl-3.offset-xl-1.col-lg-3.col-md-20
					.detail-card__advantages
						a(href="#").catalog-category__advantage.catalog-category__advantage--one.mytooltip(data-tooltip="sdfads fds fsdaf sadf sdf sdf sdaf sdf sdaf asdf sdf asd f")
						a(href="#").catalog-category__advantage.catalog-category__advantage--two.mytooltip(data-tooltip="sdfads fds fsdaf sadf sdf sdf sdaf sdf sdaf asdf sdf asd f")
						a(href="#").catalog-category__advantage.catalog-category__advantage--three.mytooltip(data-tooltip="sdfads fds fsdaf sadf sdf sdf sdaf sdf sdaf asdf sdf asd f")
					.detail-card__links-header Данный товар еще смотрят как:
					.detail-card__links
						a(href="#") лодки для охоты
						|, 
						a(href="#") лучшие лодки
						|, 
						a(href="#") лодки для рыбалки на реке
						|, 
						a(href="#") резиновые лодки
	.container-fluid.tabs-container
		.container
			.row
				.col-xl-20
					.tabs
						.tabs__headers
							.tabs__name(data-tab="tab_c1") Характеристики / Комплектация
							.tabs__name(data-tab="tab_c2") Обзор

						//- input(id="tab_1" type="radio" name="tab" checked="checked")
						//- input(id="tab_2" type="radio" name="tab")
						//- //input(id="tab_3" type="radio" name="tab")
						
						//- label(for="tab_1" id="tab_l1") Характеристики / Комплектация
						//- label(for="tab_2" id="tab_l2") Обзор
						//- //label(for="tab_3" id="tab_l3") Tab Three
						
						//- div(style="clear:both")
						
						.tabs_cont.card-characterisics.tabs__container
							#tab_c1.tabs__item
								.card-characterisics__header Комплектация:
								.card-characterisics__advantages
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char16.png")
										.card-characterisics__text 2 сиденья
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char13.png")
										.card-characterisics__text Навесной транец
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char5.png")
										.card-characterisics__text Ремонтный комлпект
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char8.png")
										.card-characterisics__text Носовой якорный рым "утка"
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char15.png")
										.card-characterisics__text Вклееное дно
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char12.png")
										.card-characterisics__text 2 весла
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char4.png")
										.card-characterisics__text Сумка для переноски
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char9.png")
										.card-characterisics__text Якорный рым с колесом
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char14.png")
										.card-characterisics__text Ножной насос
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char1.png")
										.card-characterisics__text Броня по баллонам и килю
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char2.png")
										.card-characterisics__text Комплект пайол
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char7.png")
										.card-characterisics__text Носовая сумка
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char11.png")
										.card-characterisics__text Клапан избыточного давления
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char10.png")
										.card-characterisics__text Стингера
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char3.png")
										.card-characterisics__text Фальшборт
									.card-characterisics__advantage
										.card-characterisics__image
											img(src="img/char6.png")
										.card-characterisics__text Носовой тент с надувной дугой
								.card-characterisics__table-wrap
									.card-characterisics__header.active(data-link="one") Основные харатеристики:
									.card-characterisics__header(data-link="two") Все характеристики:
									.card-characterisics__table(data-name="one")
										.card-characterisics__row
											span Длинна, см
											span 22330
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
										.card-characterisics__row
											span Длинна, см
											span 220
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
									.card-characterisics__table(data-name="two")
										.card-characterisics__row
											span Длинна, см
											span 220
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
										.card-characterisics__row
											span Длинна, см
											span 220
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
										.card-characterisics__row
											span Длинна, см
											span 220
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
										.card-characterisics__row
											span Длинна, см
											span 220
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
										.card-characterisics__row
											span Длинна, см
											span 220
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
										.card-characterisics__row
											span Длинна, см
											span 220
										.card-characterisics__row
											span Ширина внешняя, см
											span 130
										.card-characterisics__row
											span Количество камер
											span 2
										.card-characterisics__row
											span Диаметр баллона, см
											span 34
								.card-characterisics__notification *Вес лодки указан без учета веса комплектующих
							#tab_c2.card-review.tabs__item
								.row
									.col-xl-10
										.card-characterisics__header ВИДЕО: Инструкция по сборке лодки ПВХ GLADIATOR
										.card-review__image
											img(src="img/review1.png")
										.card-review__images
											.card-review__images-block
												.card-review__mini-image(style="background-image: url('../img/review1.png')")
												.card-review__mini-image(style="background-image: url('../img/review2.png')")
												.card-review__mini-image(style="background-image: url('../img/review1.png')")
												.card-review__mini-image(style="background-image: url('../img/review2.png')")
									.col-xl-10
										.card-review__description
											.card-review__header Описание сборки лодки ПВХ GLADIATOR
											.card-review__text 
												|Лодки бренда GLADIATOR выпускаются 
												|заводом Weihai BS Marine co.ltd, расположенным в 
												|городе Вэйхай, КНР. Учредителем и владельцем 
												|производства является российская компания БС Марин. 
												|За более чем 5-летнюю историю, проделав огромную 
												|работу, мы стали одним из лидеров по объему продаж 
												|надувных лодок из ПВХ в России и на сегодняшний день
												| наши производственные мощности позволяют производить 
												|15000 лодок различных видов и модификай в год.
												img(src="img/review2.png")
							//#tab_c3 Content of third tab
	.container-fluid.main-block.main-block--one
		.container
			.row
				.col-xl-20
					.main-headeline
						.main-headeline__header С этим товаром также покупают
		.container
			.row
				.col-xl-20
					.more-tovars
						.item
							.card
								.card__image
									img(src="img/tovar1.png", alt="")
									.card__more
										.card__plus
								.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
								.card__parameters
									.card__parameter
										span Длинна, см
										span 220
									.card__parameter
										span Ширина внешняя, см
										span 130
									.card__parameter
										span Количество камер
										span 2
									.card__parameter
										span Диаметр баллона
										span 34
								.card__bottom-block
									.card__rating
										form
											fieldset
												span.star-cb-group
													input(type="radio" id="rating-5" name="rating4" value="5")
													label(for="rating-5") 5
													input(type="radio" id="rating-4" name="rating4" value="4")
													label(for="rating-4") 4
													input(type="radio" id="rating-3" name="rating4" value="3")
													label(for="rating-3") 3
													input(type="radio" id="rating-2" name="rating4" value="2")
													label(for="rating-2") 2
													input(type="radio" id="rating-1" name="rating4" value="1")
													label(for="rating-1") 1
													input(type="radio" id="rating-0" name="rating4" value="0").star-cb-clear
													label(for="rating-0") 0
									.card__price
										span 10 800 р.
								.card__buttons
									a(href="javascript:void(0);").card__compare.js-ripple
									a(href="javascript:void(0);").card__buy.js-ripple
						.item
							.card
								.card__image
									img(src="img/tovar1.png", alt="")
									.card__more
										.card__plus
								.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
								.card__parameters
									.card__parameter
										span Длинна, см
										span 220
									.card__parameter
										span Ширина внешняя, см
										span 130
									.card__parameter
										span Количество камер
										span 2
									.card__parameter
										span Диаметр баллона
										span 34
								.card__bottom-block
									.card__rating
										form
											fieldset
												span.star-cb-group
													input(type="radio" id="rating-5" name="rating4" value="5")
													label(for="rating-5") 5
													input(type="radio" id="rating-4" name="rating4" value="4")
													label(for="rating-4") 4
													input(type="radio" id="rating-3" name="rating4" value="3")
													label(for="rating-3") 3
													input(type="radio" id="rating-2" name="rating4" value="2")
													label(for="rating-2") 2
													input(type="radio" id="rating-1" name="rating4" value="1")
													label(for="rating-1") 1
													input(type="radio" id="rating-0" name="rating4" value="0").star-cb-clear
													label(for="rating-0") 0
									.card__price
										span 10 800 р.
								.card__buttons
									a(href="javascript:void(0);").card__compare.js-ripple
									a(href="javascript:void(0);").card__buy.js-ripple
						.item
							.card
								.card__image
									img(src="img/tovar1.png", alt="")
									.card__more
										.card__plus
								.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
								.card__parameters
									.card__parameter
										span Длинна, см
										span 220
									.card__parameter
										span Ширина внешняя, см
										span 130
									.card__parameter
										span Количество камер
										span 2
									.card__parameter
										span Диаметр баллона
										span 34
								.card__bottom-block
									.card__rating
										form
											fieldset
												span.star-cb-group
													input(type="radio" id="rating-5" name="rating4" value="5")
													label(for="rating-5") 5
													input(type="radio" id="rating-4" name="rating4" value="4")
													label(for="rating-4") 4
													input(type="radio" id="rating-3" name="rating4" value="3")
													label(for="rating-3") 3
													input(type="radio" id="rating-2" name="rating4" value="2")
													label(for="rating-2") 2
													input(type="radio" id="rating-1" name="rating4" value="1")
													label(for="rating-1") 1
													input(type="radio" id="rating-0" name="rating4" value="0").star-cb-clear
													label(for="rating-0") 0
									.card__price
										span 10 800 р.
								.card__buttons
									a(href="javascript:void(0);").card__compare.js-ripple
									a(href="javascript:void(0);").card__buy.js-ripple
						.item
							.card
								.card__image
									img(src="img/tovar1.png", alt="")
									.card__more
										.card__plus
								.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
								.card__parameters
									.card__parameter
										span Длинна, см
										span 220
									.card__parameter
										span Ширина внешняя, см
										span 130
									.card__parameter
										span Количество камер
										span 2
									.card__parameter
										span Диаметр баллона
										span 34
								.card__bottom-block
									.card__rating
										form
											fieldset
												span.star-cb-group
													input(type="radio" id="rating-5" name="rating4" value="5")
													label(for="rating-5") 5
													input(type="radio" id="rating-4" name="rating4" value="4")
													label(for="rating-4") 4
													input(type="radio" id="rating-3" name="rating4" value="3")
													label(for="rating-3") 3
													input(type="radio" id="rating-2" name="rating4" value="2")
													label(for="rating-2") 2
													input(type="radio" id="rating-1" name="rating4" value="1")
													label(for="rating-1") 1
													input(type="radio" id="rating-0" name="rating4" value="0").star-cb-clear
													label(for="rating-0") 0
									.card__price
										span 10 800 р.
								.card__buttons
									a(href="javascript:void(0);").card__compare.js-ripple
									a(href="javascript:void(0);").card__buy.js-ripple
						.item
							.card
								.card__image
									img(src="img/tovar1.png", alt="")
									.card__more
										.card__plus
								.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
								.card__parameters
									.card__parameter
										span Длинна, см
										span 220
									.card__parameter
										span Ширина внешняя, см
										span 130
									.card__parameter
										span Количество камер
										span 2
									.card__parameter
										span Диаметр баллона
										span 34
								.card__bottom-block
									.card__rating
										form
											fieldset
												span.star-cb-group
													input(type="radio" id="rating-5" name="rating4" value="5")
													label(for="rating-5") 5
													input(type="radio" id="rating-4" name="rating4" value="4")
													label(for="rating-4") 4
													input(type="radio" id="rating-3" name="rating4" value="3")
													label(for="rating-3") 3
													input(type="radio" id="rating-2" name="rating4" value="2")
													label(for="rating-2") 2
													input(type="radio" id="rating-1" name="rating4" value="1")
													label(for="rating-1") 1
													input(type="radio" id="rating-0" name="rating4" value="0").star-cb-clear
													label(for="rating-0") 0
									.card__price
										span 10 800 р.
								.card__buttons
									a(href="javascript:void(0);").card__compare.js-ripple
									a(href="javascript:void(0);").card__buy.js-ripple
	include partials/footer
	include partials/scripts
