doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title title
		
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext" rel="stylesheet")
		link(rel="stylesheet", href="css/vendor.css")
		link(rel="stylesheet", href="css/styles.css")
	body
	.main-background
	.container-fluid.page-bg
		include partials/header
		.container.mobile-container
			.row
				.col-xl-20.my-breadcrumbs
					ul.my-breadcrumbs__menu
						li: a(href="#") Главная страница
						li: a(href="#") Каталог
						li Лодки
		.container.mobile-container
			.row
				.col-xl-20.catalog-categories-slider__wrapper
						.catalog-categories-slider
							.item
								a(href="#").catalog-categories-slider__block
									.catalog-categories-slider__image
										img(src="img/slide-category1.png", alt="")
									.catalog-categories-slider__name Гребные
							.item
								a(href="#").catalog-categories-slider__block
									.catalog-categories-slider__image
										img(src="img/slide-category2.png", alt="")
									.catalog-categories-slider__name Моторно-гребные
							.item
								a(href="#").catalog-categories-slider__block
									.catalog-categories-slider__image
										img(src="img/slide-category3.png", alt="")
									.catalog-categories-slider__name Моторные с жестким полом
							.item
								a(href="#").catalog-categories-slider__block
									.catalog-categories-slider__image
										img(src="img/slide-category4.png", alt="")
									.catalog-categories-slider__name Моторные с НДНД
							.item
								a(href="#").catalog-categories-slider__block
									.catalog-categories-slider__image
										img(src="img/slide-category5.png", alt="")
									.catalog-categories-slider__name RIB
							.item
								a(href="#").catalog-categories-slider__block
									.catalog-categories-slider__image
										img(src="img/slide-category4.png", alt="")
									.catalog-categories-slider__name Моторные с НДНД
							.item
								a(href="#").catalog-categories-slider__block
									.catalog-categories-slider__image
										img(src="img/slide-category5.png", alt="")
									.catalog-categories-slider__name RIB
	.container-fluid.catalog-category
		.container
			.row
				.col-xl-5.col-lg-5.col-md-7
					.catalog-category__image
						img(src="img/category-image.png", alt="")
				.col-xl-9.offset-xl-1.col-lg-10.col-md-13
					a(href="#").catalog-category__header Моторно-гребные лодки
					.catalog-category__subheader Гребные лодки с возможностью установки лодочного мотора небольшой мощности
					.catalog-category__description Лодки с надувным дном и без слани на днище изготовлены из ПВХ 0,7 мм, 850 г/см2. Килевые лодки - баллоны из ПВХ 0,7 мм, 850 г/м2, а днище из материала ПВХ 0,9мм, 1100г/cм2. 
				.col-xl-5.col-lg-5.col-md-10
					.catalog-category__advantages
						.catalog-category__advantage.catalog-category__advantage--one.mytooltip(data-tooltip="sdfads fds fsdaf sadf sdf sdf sdaf sdf sdaf asdf sdf asd f")
						.catalog-category__advantage.catalog-category__advantage--two.mytooltip(data-tooltip="sdfads fds fsdaf sadf sdf sdf sdaf sdf sdaf asdf sdf asd f")
						.catalog-category__advantage.catalog-category__advantage--three.mytooltip(data-tooltip="sdfads fds fsdaf sadf sdf sdf sdaf sdf sdaf asdf sdf asd f")
	.container-fluid.main-block.main-block--one.main-block--category
		.container
			.row
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__badge.card__badge--good
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating1" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating1" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating1" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating1" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating1" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating1" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__badge.card__badge--sale
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating2" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating2" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating2" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating2" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating2" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating2" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								.card__sale-price 18 821 р.
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating3" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating3" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating3" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating3" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating3" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating3" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating4" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating4" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating4" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating4" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating4" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating4" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
		.more-products-container
			a(href="#").more-products
				.icon
				span Смотреть больше товаров
	.container-fluid.catalog-category
		.container
			.row
				.col-xl-5.col-lg-5.col-md-7
					.catalog-category__image
						img(src="img/category-image.png", alt="")
				.col-xl-9.offset-xl-1.col-lg-10.col-md-13
					a(href="#").catalog-category__header Моторно-гребные лодки
					.catalog-category__subheader Гребные лодки с возможностью установки лодочного мотора небольшой мощности
					.catalog-category__description Лодки с надувным дном и без слани на днище изготовлены из ПВХ 0,7 мм, 850 г/см2. Килевые лодки - баллоны из ПВХ 0,7 мм, 850 г/м2, а днище из материала ПВХ 0,9мм, 1100г/cм2. 
				.col-xl-5.col-lg-5.col-md-10
					.catalog-category__advantages
						.catalog-category__advantage.catalog-category__advantage--four.mytooltip(data-tooltip="sdfads fds fsdaf sadf sdf sdf sdaf sdf sdaf asdf sdf asd f")
						.catalog-category__advantage.mytooltip.catalog-category__advantage--five(data-tooltip="Категория 123")
						.catalog-category__advantage.catalog-category__advantage--six.mytooltip(data-tooltip="Категория 123")
	.container-fluid.main-block.main-block--one.main-block--category
		.container
			.row
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__badge.card__badge--good
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating1" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating1" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating1" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating1" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating1" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating1" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__badge.card__badge--sale
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating2" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating2" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating2" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating2" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating2" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating2" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								.card__sale-price 18 821 р.
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating3" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating3" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating3" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating3" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating3" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating3" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
				.col-xl-5.col-lg-5.col-md-10.col-sm-10
					.card
						.card__image
							img(src="img/tovar1.png", alt="")
							.card__more
								.card__plus
						.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
						.card__parameters
							.card__parameter
								span Длинна, см
								span 220
							.card__parameter
								span Ширина внешняя, см
								span 130
							.card__parameter
								span Количество камер
								span 2
							.card__parameter
								span Диаметр баллона
								span 34
						.card__bottom-block
							.card__rating
								form
									fieldset
										span.star-cb-group
											input(type="radio" id="rating-5" name="rating4" value="5")
											label(for="rating-5") 5
											input(type="radio" id="rating-4" name="rating4" value="4")
											label(for="rating-4") 4
											input(type="radio" id="rating-3" name="rating4" value="3")
											label(for="rating-3") 3
											input(type="radio" id="rating-2" name="rating4" value="2")
											label(for="rating-2") 2
											input(type="radio" id="rating-1" name="rating4" value="1")
											label(for="rating-1") 1
											input(type="radio" id="rating-0" name="rating4" value="0").star-cb-clear
											label(for="rating-0") 0
							.card__price
								span 10 800 р.
						.card__buttons
							a(href="javascript:void(0);").card__compare.js-ripple
							a(href="javascript:void(0);").card__buy.js-ripple
		.more-products-container
			a(href="#").more-products
				.icon
				span Смотреть больше товаров
	include partials/footer
	include partials/scripts
