doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title title
		
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext" rel="stylesheet")
		link(rel="stylesheet", href="css/vendor.css")
		link(rel="stylesheet", href="css/styles.css")
	body
	.main-background
	.container-fluid.page-bg
		include partials/header
		.container
			.row
				.col-xl-20.my-breadcrumbs
					ul.my-breadcrumbs__menu
						li: a(href="#") Главная страница
						li: a(href="#") Каталог
						li Лодки
	.container-fluid.compare-header
		.container
			.row
				.col-xl-5
					.compare-header__header Выбор категорий для сравнения
					.compare-header__description Здесь отображаются категории товаров, выбранных для сравнения. Вы можете добавлять для сравнения новые товары, и удалять старые.
				.col-xl-15
					.compare-header__slider
						.item
							.compare-header__block
								.compare-header__image
									img(src="img/category-image.png", alt="")
								.compare-header__name Моторные лодки с НДНД (надувное дно низкого давления) 
							.compare-header__wrapper
								.compare-header__category-description
									| Для сравнения добавлено
									span  3  
									| товара
								a(href="#").compare-header__more
									span +
									| Найти еще
						.item
							.compare-header__block
								.compare-header__image
									img(src="img/category-image.png", alt="")
								.compare-header__name Моторные лодки с НДНД (надувное дно низкого давления) 
							.compare-header__wrapper
								.compare-header__category-description
									| Для сравнения добавлено
									span  3  
									| товара
								a(href="#").compare-header__more
									span +
									| Найти еще
						.item
							.compare-header__block
								.compare-header__image
									img(src="img/category-image.png", alt="")
								.compare-header__name Моторные лодки с НДНД (надувное дно низкого давления) 
							.compare-header__wrapper
								.compare-header__category-description
									| Для сравнения добавлено
									span  3  
									| товара
								a(href="#").compare-header__more
									span +
									| Найти еще
						.item
							.compare-header__block
								.compare-header__image
									img(src="img/category-image.png", alt="")
								.compare-header__name Моторные лодки с НДНД (надувное дно низкого давления) 
							.compare-header__wrapper
								.compare-header__category-description
									| Для сравнения добавлено
									span  3  
									| товара
								a(href="#").compare-header__more
									span +
									| Найти еще
	.container-fluid.compare
		.container
			.row
				.col-xl-5.col-lg-5.col-md-5
					.compare__header Сравнение товаров
					.compare__description Процесс количественного или качественного сопоставления разных свойств (сходств, отличий, преимуществ и недостатков) двух (и более) объектов.
					.compare__properties
						.compare__name Характеристики
						.compare__row Длина, см
						.compare__row Ширина внешняя, см
						.compare__row Количество камер
						.compare__row Диаметр баллона, см
						.compare__row Длинна, см
						.compare__row Ширина внутренняя, см
				.col-xl-15.col-lg-15.col-md-15.compare__slider-wrap
					.compare__slider
						.item
							.compare__item-wrap
								.card
									.card__badge.card__badge--good
									.card__image
										img(src="img/tovar1.png", alt="")
										.card__more
											.card__plus
									.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
									.card__parameters
										.card__parameter
											span Длинна, см
											span 220
										.card__parameter
											span Ширина внешняя, см
											span 130
										.card__parameter
											span Количество камер
											span 2
										.card__parameter
											span Диаметр баллона
											span 34
									.card__bottom-block
										.card__rating
											form
												fieldset
													span.star-cb-group
														input(type="radio" id="rating-5" name="rating1" value="5")
														label(for="rating-5") 5
														input(type="radio" id="rating-4" name="rating1" value="4")
														label(for="rating-4") 4
														input(type="radio" id="rating-3" name="rating1" value="3")
														label(for="rating-3") 3
														input(type="radio" id="rating-2" name="rating1" value="2")
														label(for="rating-2") 2
														input(type="radio" id="rating-1" name="rating1" value="1")
														label(for="rating-1") 1
														input(type="radio" id="rating-0" name="rating1" value="0").star-cb-clear
														label(for="rating-0") 0
										.card__price
											span 10 800 р.
									.card__buttons
										a(href="javascript:void(0);").card__uncompare
											.icon
											span Убрать из сравнения
										a(href="javascript:void(0);").card__buy.js-ripple
								.compare__card-info
									.compare__name Гребная Лодка ПВХ GLADIATOR Серия (А) Simple A220 NEW
									.compare__row 100
									.compare__row 150
									.compare__row 5
									.compare__row 42
									.compare__row 174
									.compare__row 48
									a(href="#").compare__addCart
										.icon
										.compare__add-wrap
											span добавить в корзину
						.item
							.compare__item-wrap
								.card
									.card__badge.card__badge--good
									.card__image
										img(src="img/tovar1.png", alt="")
										.card__more
											.card__plus
									.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
									.card__parameters
										.card__parameter
											span Длинна, см
											span 220
										.card__parameter
											span Ширина внешняя, см
											span 130
										.card__parameter
											span Количество камер
											span 2
										.card__parameter
											span Диаметр баллона
											span 34
									.card__bottom-block
										.card__rating
											form
												fieldset
													span.star-cb-group
														input(type="radio" id="rating-5" name="rating1" value="5")
														label(for="rating-5") 5
														input(type="radio" id="rating-4" name="rating1" value="4")
														label(for="rating-4") 4
														input(type="radio" id="rating-3" name="rating1" value="3")
														label(for="rating-3") 3
														input(type="radio" id="rating-2" name="rating1" value="2")
														label(for="rating-2") 2
														input(type="radio" id="rating-1" name="rating1" value="1")
														label(for="rating-1") 1
														input(type="radio" id="rating-0" name="rating1" value="0").star-cb-clear
														label(for="rating-0") 0
										.card__price
											span 10 800 р.
									.card__buttons
										a(href="javascript:void(0);").card__uncompare
											.icon
											span Убрать из сравнения
										a(href="javascript:void(0);").card__buy.js-ripple
								.compare__card-info
									.compare__name Гребная Лодка ПВХ GLADIATOR Серия (А) Simple A220 NEW
									.compare__row 100
									.compare__row 150
									.compare__row 5
									.compare__row 42
									.compare__row 174
									.compare__row 48
									a(href="#").compare__addCart
										.icon
										.compare__add-wrap
											span добавить в корзину
						.item
							.compare__item-wrap
								.card
									.card__badge.card__badge--good
									.card__image
										img(src="img/tovar1.png", alt="")
										.card__more
											.card__plus
									.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
									.card__parameters
										.card__parameter
											span Длинна, см
											span 220
										.card__parameter
											span Ширина внешняя, см
											span 130
										.card__parameter
											span Количество камер
											span 2
										.card__parameter
											span Диаметр баллона
											span 34
									.card__bottom-block
										.card__rating
											form
												fieldset
													span.star-cb-group
														input(type="radio" id="rating-5" name="rating1" value="5")
														label(for="rating-5") 5
														input(type="radio" id="rating-4" name="rating1" value="4")
														label(for="rating-4") 4
														input(type="radio" id="rating-3" name="rating1" value="3")
														label(for="rating-3") 3
														input(type="radio" id="rating-2" name="rating1" value="2")
														label(for="rating-2") 2
														input(type="radio" id="rating-1" name="rating1" value="1")
														label(for="rating-1") 1
														input(type="radio" id="rating-0" name="rating1" value="0").star-cb-clear
														label(for="rating-0") 0
										.card__price
											span 10 800 р.
									.card__buttons
										a(href="javascript:void(0);").card__uncompare
											.icon
											span Убрать из сравнения
										a(href="javascript:void(0);").card__buy.js-ripple
								.compare__card-info
									.compare__name Гребная Лодка ПВХ GLADIATOR Серия (А) Simple A220 NEW
									.compare__row 100
									.compare__row 150
									.compare__row 5
									.compare__row 42
									.compare__row 174
									.compare__row 48
									a(href="#").compare__addCart
										.icon
										.compare__add-wrap
											span добавить в корзину
						.item
							.compare__item-wrap
								.card
									.card__badge.card__badge--good
									.card__image
										img(src="img/tovar1.png", alt="")
										.card__more
											.card__plus
									.card__name Гребная лодка ПВХ Gladiator Серия (А) Simple A220 NEW
									.card__parameters
										.card__parameter
											span Длинна, см
											span 220
										.card__parameter
											span Ширина внешняя, см
											span 130
										.card__parameter
											span Количество камер
											span 2
										.card__parameter
											span Диаметр баллона
											span 34
									.card__bottom-block
										.card__rating
											form
												fieldset
													span.star-cb-group
														input(type="radio" id="rating-5" name="rating1" value="5")
														label(for="rating-5") 5
														input(type="radio" id="rating-4" name="rating1" value="4")
														label(for="rating-4") 4
														input(type="radio" id="rating-3" name="rating1" value="3")
														label(for="rating-3") 3
														input(type="radio" id="rating-2" name="rating1" value="2")
														label(for="rating-2") 2
														input(type="radio" id="rating-1" name="rating1" value="1")
														label(for="rating-1") 1
														input(type="radio" id="rating-0" name="rating1" value="0").star-cb-clear
														label(for="rating-0") 0
										.card__price
											span 10 800 р.
									.card__buttons
										a(href="javascript:void(0);").card__uncompare
											.icon
											span Убрать из сравнения
										a(href="javascript:void(0);").card__buy.js-ripple
								.compare__card-info
									.compare__name Моторно - гребная Лодка ПВХ GLADIATOR Серия (А) Simple ТН 280 тёмно-серый
									.compare__row 100
									.compare__row 150
									.compare__row 5
									.compare__row 42
									.compare__row 174
									.compare__row 48
									a(href="#").compare__addCart
										.icon
										.compare__add-wrap
											span добавить в корзину
	include partials/footer
	include partials/scripts