doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
		title title
		
		link(href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Open+Sans:300,400,600,700,800&subset=cyrillic,cyrillic-ext" rel="stylesheet")
		link(rel="stylesheet", href="css/vendor.css")
		link(rel="stylesheet", href="css/styles.css")
	body
	.main-background
	.container-fluid.page-bg
		include partials/header
		.container.mobile-container
			.row
				.col-xl-20.my-breadcrumbs
					ul.my-breadcrumbs__menu
						li: a(href="#") Главная страница
						li: a(href="#") Каталог
						li Лодки
		.container.personal
			.row
				.col-xl-5
					.personal__image.personal__image--default
						form.personal__loadimage
							label(for="file")
								span.personal__load-btn Загрузить изображение
								input(type="file" id="file" name="file")
					.personal__name Давыдов Семен Варламович
					.personal__data
						.personal__data-info
							span Адрес доставки:
							br
							|  ул. Комсомольская 15, кв. 6
						.personal__data-info
							span E-mail:
							|  davidov@ya.ru
						.personal__data-info
							span Телефон:
							|  +7 (914) 152-96-85
					.personal__edit-wrap
						a(href="#personal-edit").personal__edit Редактировать данные
				.col-xl-14.offset-xl-1
					.personal-header
						ul
							li: a(href="#") Мои заказы
							li.active
								a(href="#") 
									|Уведомления
									.personal-header__count +99
						form
							input(type="text" placeholder="Введите номер накладной").personal-header__search
							input(type="submit").personal-header__search--btn
					.personal-notification
						.personal-notification__overload
							.personal-notification__modal-header
								.personal-notification__close
								.personal-notification__item.personal-notification__item--new
									.personal-notification__icon
									.personal-notification__text Ваш заказ №827635 доставлен
									.personal-notification__date 10.03.2016
							.personal-notification__description Уважаемый, Давыдов Семен Варламович! Ваш заказ был доставлен курьером Владимиром сегодня в 17:00. Пожалуйста оставьте свой отзыв о работе с нами, вы можете выразить благодарность и указать любые пожелания, которые могут улучшить нашу работу, мы доверяем нашим клиентам. Надеемся на дальнейше сотрудничество. Уважаемый, Давыдов Семен Варламович! Ваш заказ был доставлен курьером Владимиром сегодня в 17:00. Пожалуйста оставьте свой отзыв о работе с нами, вы можете выразить благодарность и указать любые пожелания, которые могут улучшить нашу работу, мы доверяем нашим клиентам. Надеемся на дальнейше сотрудничество. Уважаемый, Давыдов Семен Варламович! Ваш заказ был доставлен курьером Владимиром сегодня в 17:00. Пожалуйста оставьте свой отзыв о работе с нами, вы можете выразить благодарность и указать любые пожелания, которые могут улучшить нашу работу, мы доверяем нашим клиентам. Надеемся на дальнейше сотрудничество. Уважаемый, Давыдов Семен Варламович! Ваш заказ был доставлен курьером Владимиром сегодня в 17:00. Пожалуйста оставьте свой отзыв о работе с нами, вы можете выразить благодарность и указать любые пожелания, которые могут улучшить нашу работу, мы доверяем нашим клиентам. Надеемся на дальнейше сотрудничество. Уважаемый, Давыдов Семен Варламович! Ваш заказ был доставлен курьером Владимиром сегодня в 17:00. Пожалуйста оставьте свой отзыв о работе с нами, вы можете выразить благодарность и указать любые пожелания, которые могут улучшить нашу работу, мы доверяем нашим клиентам. Надеемся на дальнейше сотрудничество.
						.personal-notification__item.personal-notification__item--new
							.personal-notification__icon
							.personal-notification__text Ваш заказ №827635 доставлен
							.personal-notification__date 10.03.2016
						.personal-notification__item
							.personal-notification__icon
							.personal-notification__text Ваш заказ №827635 передан в транспортную компанию
							.personal-notification__date 05.02.2016
					ul.personal-pagination
						li: a(href="#").personal-pagination__left
						li: a(href="#").active 1
						li: a(href="#") 2
						li: a(href="#") 3
						li: a(href="#").personal-pagination__right
	include partials/footer
	include partials/scripts